body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f7fe;
  overflow-y: scroll;
}
.box {
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 5px;
  overflow: hidden;
  background: #000;
}